
.header__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.6;
    transition: opacity 0.5s;

}

.header__link:active {
    color: rgb(67, 196, 31);
}