
.sorting__button {
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.sorting__button:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

.sorting__button:active{
    color: rgb(67, 196, 31);
}

@media screen and (max-width: 500px) {
    .sorting__button{
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 420px) {
    .sorting__button {
        font-size: 12px;
        line-height: 16px;
    }
}