.popup__close {
    margin: 0 0 0 10px;
    padding:0;
    width: 42px;
    height: 42px;
    background-image: url('../../../images/Close-Icon.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-size: cover;
    background-color: transparent;
    
}


.popup__close:hover {
    opacity: 0.6;
    transition: opacity 0.5s;

}