
.extra-buttons__view-up {
    width: 59px;
    height: 59px;
    position: absolute;
    top: 40px;
    right: 0;
    background-image: url('../../../images/button-view-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: rgb(110, 187, 211);
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.extra-buttons__view-up:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.extra-buttons__view-up:active {
    background-color: rgb(67, 196, 31);
}

@media screen and (max-width: 1279px) {
    .extra-buttons__view-up{
        right: 20px;
    }
}

@media screen and (max-width: 620px) {
    .extra-buttons__view-up{
        position: static;
        margin-top: 10px;
    }
}
