
.header__container {
    margin: 0 auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

@media screen and (max-width: 1279px) {
    .header__container{
        max-width: 928px;
    }
}