
.header__title {
    margin: 0;
    padding: 50px 0 66px;
    max-width: 394px;
    position: relative;
    z-index: 1;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 900px) {
    .header__title{
       padding-bottom: 0px;
       font-size: 34px;
       line-height: 40px;
       margin-left: 15px;
    }
}


@media screen and (max-width: 500px) {
    .header__title{
        font-size: 30px;
        line-height: 36px;
    }
}

@media screen and (max-width: 390px) {
    .header__title{
        font-size: 26px;
        line-height: 30px;
        
    }
}